<style type="text/css">

/* hide login/register top bar buttons */
.topbar__user {
  display: none !important;
}

/* Customize header */
.hero {
  background-size: contain;
  background-position: center;
}
.hero::after {
  background-color: transparent;
}
.hero-heading {
  color: inherit;
  text-shadow: none;
}

/* We have only one phase, let's hide the button */
.process-header__phase a {
  display: none;
}
</style>

<!-- GOOGLE FONTS --->
<!-- Go to https://fonts.google.com/ and copy paste the <link> section it provides for the font you want to import  --->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<!-- CUSTOM FONT --->
<link rel="stylesheet" href="https://templates.opensourcepolitics.net/fonts/[font-name]/_fontface.css">
<!-- WEB ANIMATIONS -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://templates.opensourcepolitics.net/templates/demo/animations_demo.js"></script>
<!-- TEMPLATE CSS -->
<link rel="stylesheet" href="https://templates.opensourcepolitics.net/templates/instit/template_instit.css">
<!-- CSSVariables --->
<link rel="stylesheet" href="https://templates.opensourcepolitics.net/templates/instit/marianne/variables.css">
<!-- Tarte au citron -->
<link rel="stylesheet" href="https://templates.opensourcepolitics.net/templates/tarteaucitron.css">
<script src="https://templates.opensourcepolitics.net/templates/disable_decidim_cookies.js"></script>
<script src="https://tarteaucitron.io/load.js?domain=demo.decidim.opensourcepolitics.eu&uuid=591090037b3bd26934cd5b622f39084ab72e9b05"></script>
<style>
/*-- INSTITUTIONNEL THEME --*/
  /* -- VARIABLES -- */
  /* Change the variable values to customize your theme  */
  /* In Decidim admin you can select colors for your organization. You can pass these colors as variable values below by writing "var(--primary);" or "var(--secondary);" */
  :root {
    --button_radius: 2px;
    --button_primary_hover_background: #0000b7;
    --button_secondary_hover_background: #e8e8e8;
    --button_secondary_hover_color: #0000b7;

    --card_border: solid 0px #f9f8f6;
    --card_radius: 0;
    --card_shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    --card_background: #f9f8f6;
    --card_background_hover: rgba(224,219,208,0.5);

    --font_title: 'Marianne';
    --font_content: 'Marianne';

    --footer_background: var(--primary);
    --footer_color: #ffffff;
    --footer_mini_background: #1e1e1e;

    --header_background: #ffffff;
    --header_search_background: #f0f0f0;
    --header_search_button_background: var(--primary);
    --header_search_button_color: #ffffff;
    --header_color: var(--primary);

    --header_navbar_background: #ffffff;
    --header_navbar_color: var(--primary);
    --header_navbar_border: var(--primary);

    --link_color: var(--primary);
    --link_underline: none;
}

.logo-wrapper img {
    transform: scale(1);
    transform-origin: left;
}

</style>
